/* ---------- Sections ---------- */

.section {
  padding: 70px 0 70px 0;
}

.section__container {
  max-width: 1140px;
  margin: auto;
}

.section__title {
  text-align: center;
  padding: 0 5px 0 5px;
  margin-bottom: 60px;

  h2 {
    margin-bottom: 30px;
  }

  hr {
    height: 3px;
    width: 60px;
    position: relative;
    background: $green;
    margin: 10px auto 30px;
  }
}
